@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

body {
    margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Libertinus Mono;
	background-image: url("./images/bg.png");
	background-attachment: fixed;
}
main, footer { background-color: #ffffff; }
main, footer, header { padding: 0 2% 0 2%; }
main { margin: 0 25% 0 25%; }
header a { color: #ffffff; }
header {
	background-color: #be1f77;
	color: #ffffff;
    margin: 0;
    width: 100%;
    padding: 0 0 0 2%;
}
.flag { border: 2px solid #555; }
